{% extends 'base.frontProduitP.html.twig' %}
{% block Produit %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>Votre comazeaklzme <em>Trainers</em></h2>
{#                <img src="{{ asset('assets/images/tabs-first-icon') }}" >#}


            </div>
        </div>
    </div>

{% endblock %}