{% extends 'base.login.html.twig' %}
 {% block title %}Mot de passe oublié {% endblock %}

{% block login %}

        <h1>Mot de passe oublié</h1>
    <br>
    <h6>vous devez insere un email</h6>
    <br>
        {{ form(emailForm) }}

{% endblock %}
