
{% extends 'base.login.html.twig' %}
{% block title %}Nouveau Mot de passe oublié {% endblock %}

{% block login %}
    <h1>Réinitialisation du mot de passe</h1>
    <p><h6>Veuillez entrer votre nouveau mot de passe ci-dessous.</h6></p>
    <form method="post">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" id="valider">
            Valider le mot de passe
        </button>
    </form>

{% endblock %}
