{% extends 'base.back.html.twig' %}

{% block title %}Edit Abonnement{% endblock %}

{% block body %}
    <h1 style="color: #d5606e">Modifier une Abonnement</h1>

   {#   {{ include('abonnement/_form.html.twig', {'button_label': 'Modifier'}) }}#}
    {{ include('abonnement/_form.html.twig', {'button_label': 'Modifier'}) }}


    <a href="{{ path('ck') }}">retourner à la liste</a>

 {#    {{ include('abonnement/_delete_form.html.twig') }} #}
{% endblock %}
