{% extends 'base.back.html.twig' %}

{% block title %}Nouvelle Abonnement{% endblock %}

{% block body %}
    <h1 style="color: #d5606e">Créer une nouvelle abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a href="{{ path('ck') }}">retour à la liste</a>
{% endblock %}
