<p> hello {{ user.getNom }} ,</p>
</br>
</br>
<p>
    We confirm that you will participate in the activity {{ activity.getNomAct()}} {{activity.getDateAct()|date('Y-m-d')}}at {{ activity.getTempAct()|date('H:m') }},
    Therefore, you must bring the Code-Qr in this message.
</p>
<p>
    Wish you a good day .
</p>