<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Business HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('detail/assets/img/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body>
<button id="bt" >test</button>
<h1> hahahahha </h1>



</body>

<script>
    console.error("errrrr");
    $(document).ready(function (){
        $("#bt").click(function (){
            $("h1").toggle();

        });
    });

</script>

</html>

