
<table>
{#{% for act in cu %}#}
{#    <h1>{{ act.getDateAct|date('Y-m-d') }}</h1>#}
{#    <h1>{{ act.getTempAct|date('H:m') }}</h1>#}
{#{% endfor %}#}
    <tr>
        <td>
            aaa
        </td>
        <td>
            aaa
        </td>
    </tr>
    <tr>
        <td>
            bb
        </td>
        <td>
            bb
        </td>
    </tr>
</table>
<table>
    <tr>

        <td>ccc</td>

    </tr>
    <tr>
        <td>aaa</td>
    </tr>
</table>
{#<h1>{{ cu}}</h1>#}