{% extends 'base.back.html.twig' %}

{% block title %}Edit TypeReclamation{% endblock %}

{% block body %}
    <h1 style="color: #b505ff">Edit TypeReclamation</h1>

    {{ include('type_reclamation/_form.html.twig', {'button_label': 'Update'}) }}
<br>
    <a class="btn btn-info mr-2" href="{{ path('type_reclamation_index2') }}">back to list</a>

    {{ include('type_reclamation/_delete_form.html.twig') }}
{% endblock %}
