{% extends 'base.back.html.twig' %}

{% block title %}New TypeReclamation{% endblock %}

{% block body %}
    <h1  style="color: #b505ff">Add new Type_Reclamation</h1>

    {{ include('type_reclamation/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('type_reclamation_index') }}">back to list</a>
{% endblock %}