z<h1>Activation de Votre Email</h1>
<p>Vous avez créé un Compte sur MbodyUP , veuillez cliquer sur le lien ci-dessus pour l'activer</p>
<p><a href="{{ absolute_url(path('activation',{'token':token})) }}">Activer mon compte</a></p>