{% extends 'base.back.html.twig' %}


{% block body %}
<h1>Nouveau contact</h1>
<p>Mbody UP:  {{ user.email }}</p>
{#  Nom : {{contact.nom}}</p>
<p>e-mail : {{contact.email}}</p> #}
<p>Message : {{contact.message|raw}}</p>
{% endblock %}