{% extends 'base.front.html.twig' %}

{#{% block top %}#}
{#    <h1>saddi</h1>#}
{#{% endblock %}#}
{#{% block body %}#}
{#<h1>oussama</h1>#}
{#{% endblock %}#}
{% block video %}
{% endblock %}
{% block cen %}
    <h1>ahhaah</h1>
{% endblock %}

{%  block footer %}


{% endblock %}
