<div>
<p> hello</p>
    <img src="{{ absolute_url(asset('uploads/qr.png')) }}" style="width: 100px;height: 100px">
    <img src="{{ absolute_url(reslt.getDataUri())}}" style="width: 100px;height: 100px">


{#    <img src="{{ i }} " style="width: 100px;height: 100px">#}


</div>