<table border="1">
    <tr>
        <td>nom exercice</td>
        <td>dure exercice</td>
        <td>description </td>
        <td>category</td>

    </tr>
{% for e in exercices %}
    <tr>
        <td>{{ e.getNomExercice()}}</td>
        <td>{{ e.getDureExercice()}}</td>
        <td>{{ e.getDescriptionExercice()}} </td>
        <td>{{ e.getCategory().getNomCat()}}</td>
        </tr>
{% endfor %}
</table>