<form method="post" action="{{ path('offre_delete', {'id': offre.id}) }}" onsubmit="return confirm('Est ce que vous etes sûr de supprimer cet élèment?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.id) }}">
    {#  <button class="btn">supprimer</button>#}
    <button type="btn" class="btn btn-danger">supprimer</button>

</form>
