{% extends 'base.back.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
    <h1 style="color: #d5606e">Créer une nouvelle offre</h1>

    {{ include('offre/_form.html.twig') }}

    <a href="{{ path('offre_index') }}">retourner à la liste</a>
{% endblock %}
